:root {
  --lightness: 70%; /* Starter på 70% lightness */
  --saturation: 70%; /* Starter på 70% favemætning */
}

body {
  /* 350 fordi det er "koden" til løserød */
  background-color: hsl(320, var(--saturation), var(--lightness));
  transition: background-color 0.1s;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  color: white;
  font-size: 24px;
}
