* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

div {
  display: flex;
  padding: 20px;
  justify-content: right;
}

.header,
.footer {
  background-color: lightsteelblue;
  color: brown;
  padding: 20px;
  font-size: 4em;
  font-weight: bold;
  justify-content: space-between;
}

.content {
  background-color: #e0f7fa;
  padding: 20px;
  min-height: 300px;
}
