body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Skift baggrundsfarven til hvid */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background: none; /* Fjern baggrundsfarven */
  border-radius: 0; /* Fjern kantens afrunding */
  box-shadow: none; /* Fjern skyggen */
  padding: 0; /* Fjern polstringen */
  width: auto; /* Juster bredden */
  text-align: center;
}

h1 {
  font-size: 36px; /* Forøg skriftstørrelsen */
  color: #000; /* Skift tekstfarven til sort */
  margin-bottom: 20px;
}

nav {
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline;
  margin-right: 10px;
  font-size: 20px; /* Forøg skriftstørrelsen */
}

.menu li a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #0056b3;
}

.menu li:last-child {
  color: #000; /* Skift den sidste elements farve til sort */
  /* Sidste element vil være sort og ikke et link */
}

.guess-btn {
  background-color: #ffffff; /* Skift knappens baggrundsfarve til hvid */
  color: #000; /* Skift knaptekstens farve til sort */
  border: 1px solid #000; /* Tilføj sort kant */
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.guess-btn:hover {
  background-color: #f0f0f0; /* Skift hover baggrundsfarven */
}
